* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapperMain {
  width: 815px;
  /* height: 1165px; */
  margin: 25px auto;
  background-color: #f7f4ef;
  padding-top: 25px;
  padding-bottom: 25px;
  /* box-shadow:         -6px -6px 9px 0px rgba(50, 50, 50, 0.75); */
  /* box-shadow: 7px 7px 5px rgba(0,0,0,0.6);  */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
}

.img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 18px 15px 0 21px;
  border: 1px solid #ff6600;
  background-image: url(../img/alex2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 749px;
  height: 145px;
  background: #fff;
  margin: auto;
  border: 1px solid #c0c0c0;
}

h1 {
  margin: 0;
}

.surname {
  padding-top: 50px;
}

/* ************************************************** About Me*********************************** */

.AboutMe {
  border: 3px outset #c0c0c0;
  border-radius: 5px;
  width: 749px;
  height: 65px;
  background: #eee;
  margin: 65px auto;
  cursor: pointer;
}

.res {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* ************************************************** skillChart*********************************** */

.skillChart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 749px;
  margin: 65px auto;
}

.diagram {
  width: 120px;
  height: 120px;
  background: #fff;
  border: 1px solid #c0c0c0;
  margin: 5px;
}

.imgDiagram {
  margin: 3px;
}

area {
  cursor: default;
}

.item p {
  margin: 5px;
  text-align: center;
}

/* ************************************************** myWorks********************************** */

.myWorks {
  display: flex;
  justify-content: space-between;
  width: 749px;
  margin: auto;
  flex-wrap: wrap;
}

.elements {
  width: 240px;
  /* height: 245px; */
  background: #fff;
  border: 1px solid #c0c0c0;
  margin-bottom: 15px;
}

.elements p {
  margin-bottom: 5px;
  text-align: center;
}

hr {
  width: 80px;
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #ff6600;
  /* Цвет линии для остальных браузеров */
  background-color: #ff6600;
  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;
  /* Толщина линии */
}

li {
  list-style: none;
  margin: 5px;
}

@media screen and (max-width: 830px) {
  .wrapper {
    width: 715px;
  }

  .wrapperMain {
    width: 100%;
    margin: 0;
  }

  .header,
  .AboutMe,
  .skillChart,
  .myWorks {
    width: 649px;
  }

  .elements {
    width: 210px;
  }
}

@media screen and (max-width: 730px) {
  .wrapper {
    width: 615px;
  }

  .header,
  .AboutMe,
  .skillChart,
  .myWorks {
    width: 549px;
  }

  .elements {
    width: 180px;
  }

  .diagram {
    width: 106px;
    height: 106px;
  }
}

@media screen and (max-width: 630px) {
  .wrapper {
    width: 515px;
  }

  .header,
  .AboutMe,
  .skillChart,
  .myWorks {
    width: 449px;
  }

  .AboutMe {
    margin: 30px auto 0 auto;
  }

  .myWorks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillChart {
    margin: 15px auto 15px auto;
    flex-wrap: wrap;
  }

  .elements {
    width: 240px;
    margin-bottom: 5px;
    align-items: center;
  }

  .elements {
    /* height: 150px; */
  }

  .diagram {
    width: 107px;
    height: 107px;
  }
}

@media screen and (max-width: 530px) {
  .wrapper {
    width: 415px;
  }

  .header {
    width: 349px;
    flex-wrap: wrap;
    justify-content: center;
    height: 230px;
  }

  .surname {
    padding-top: 0px;
    text-align: center;
  }

  .AboutMe,
  .skillChart,
  .myWorks {
    width: 349px;
  }

  .AboutMe {
    margin: 30px auto 0 auto;
  }

  .myWorks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillChart {
    margin: 15px auto 15px auto;
    flex-wrap: wrap;
  }

  .elements {
    width: 240px;
    margin-bottom: 5px;
    align-items: center;
  }

  /* .siteShop,.elements{
        height: 120px;
    }
    .onePage{
        height: 210px;
    } */
  .diagram {
    width: 107px;
    height: 107px;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    width: 315px;
    /* height: 1220px; */
  }

  .header {
    width: 249px;
    height: 235px;
  }

  .surname p {
    margin: 5px;
  }

  .AboutMe,
  .skillChart,
  .myWorks {
    width: 249px;
  }

  /* .siteShop,.elements{
        height: 110px;
    } */
  .onePage {
    height: 200px;
  }
}

@media screen and (max-width: 330px) {
  .wrapper {
    width: 190px;
    /* height: 850px; */
  }

  .header {
    width: 170px;
    height: 235px;
  }

  .AboutMe,
  .myWorks {
    width: 170px;
  }

  .AboutMe {
    margin-bottom: 20px;
  }

  /* .siteShop,.elements{
         height: 110px; 
    } */
  /* .onePage{
        height: 200px;
    } */
  .skillChart {
    display: none;
  }

  h2 {
    font-size: 16px;
  }
}
