* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6B5F50;
}

.d_wrapper_category {
    width: 96vw;
    height: 100vh;
    background-color: aqua;
    margin: auto;
}

.d_header_category {
    width: 100%;
    height: 8vh;
    background-color: aquamarine;
}

h2 {
    margin: 5px 10px;
}

.d_list {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: grey;
    text-decoration: none;
    color: white;

}

li {
    /* list-style-type: none; */
    /* width: 100px; */
    padding: 5px;
}

.d_progress_wrapper {
    display: flex;
    align-items: center;
}

.d_progress {
    height: 4px;
    width: 70%;
    background-color: white;
    margin: 20px auto;
}

.d_beginner_progress_paint {
    height: 100%;
    width: 50%;
    background-color: blue;
}

.d_progress_digital {
    /* position: absolute;
    right: 10px;
    top: 31px; */
}