@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
body {
  background-color: #2a2929;
  margin: 0;
  color:#B0ABBF;
  /* color:#8F8B9C; */

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:18px;
}
.wrapper {
  display: flex;
  max-width: 1280px;
  margin: auto;
  background-color: #1C1C1C;
  height: 100vh;
  position: relative;
  /* padding-top: 25px; */
}
.showMenu {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-image: url(../icons/next.png);
  /* transform: rotate(deg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.topNavigation {
  width: 200px;
  height: 100vh;
  
}
.hideElement {
  display: none;
}
.topNavigationNavMenu {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
}
.topNavigationNavMenuButtons {
  width: 20px;
  height: 20px;
}
.nextButton {
  background-image: url(../icons/next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}
.hideButton {
  background-image: url(../icons/next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}
.downButton {
  background-image: url(../icons/next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
  display: none;
}
.hoverEffect{
  /* color: blue; */
  text-decoration: underline;
}
.hoverEffect:hover{
  cursor: pointer;
  font-size: 20px;
}
.hoverPointer:hover{
  cursor: pointer;
  font-size: 20px;
}
#infoBlock{
  
  background-color: #47474a;
}
.infoBlockHide{
  display: none;
}
#changeFrame{
  height: 100%;
  width: 5px;
  background-color:  #B79595;
}
#changeFrame:hover{
  cursor: w-resize;
}
.content{
  padding-top: 25px;
  padding-left: 15px;
  max-width: 807px;
  /* margin: auto; */
 
}
.parametersContentWindow{
  width: 1000px; 
  height: 100%;
   margin: 1%
}

#mainMenu{
/* display: none; */
}
#EnglandMenu{
  display: none;
}
#RussianMenu{
  display: none;
}
.colorGreen{
  color:green;
}
.bigText{
  font-size: xx-large;
}

@media screen and (max-width: 1100px){
	.topNavigation {
    width: 50%;
   font-size: 40px;
   padding-left: 15px;
  }
	.topNavigationNavMenu {
    height: 50px;
  }
	.hideButton {
    width: 45px;
    height: 45px;
  }
  .showMenu {
    width: 45px;
    height: 45px;
  }
}